.home {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    z-index: -5;
}

.begin {
    position: relative;
    top: 16vh;
    left: 15vw;
    width: 100vw;
    height: auto;
    margin: 0 auto;

}


.begin h1 {
    font-size: 8vh;
    text-transform: uppercase;
    margin: 0 auto 26px;
    width: 100vw;
    padding-bottom: 15vh;
    color: var(--titleColor);
    letter-spacing: 2px;
    font-family: 'Merienda', cursive;
}

.beginLineContainer {
    position: absolute;
    top: 22vh;
    left: 50vw;
}

.beginLine {
    width: 40vw;
    height: 3px;
    background: whitesmoke;
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.begin p {
    width: 50vw;
    margin: 3vh auto 0;
    color: #eee;
    text-align: center;
    animation: showText 2s linear 1;
    font-size: 1.7rem;
    font-weight: 400;
}

@keyframes showText {
    0% {
        color: transparent;
    }

    100% {
        color: #eee;
    }
}


.yarnBall {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    margin-top: -2.5vh;
    height: 5vh;
    width: 5vh;
    animation: ballMove1 5s linear infinite alternate;
    filter: saturate(0.7);
}

@keyframes ballMove1 {
    0% {
        left: -51%;
        transform: translateY(-50%) rotate(0deg);
    }

    100% {
        left: 45%;
        transform: translateY(-50%) rotate(1080deg);
    }

}


video,
.video-thumb {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.videoFilter {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    background-image: url(../images/pexels-cottonbro-3942924.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5) sepia(40%);
    opacity: 0.6;
}


.home2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(22, 22, 22, 0.5);
}

.home2 section {
    height: 80vh;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0vh auto;

}

.home2 p {
    height: 30%;
    width: 30%;
    position: absolute;
    font-size: 1.5rem;
}

.home2 span {
    height: 30%;
    width: 30%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(90%) saturate(40%);
    box-shadow: 0 0 5px 5px gray;
}

.home2 span:nth-of-type(1) {
    bottom: 3%;
    left: 5%;
    background-image: url(../images/home1.jpg);
}

.home2 span:nth-of-type(2) {
    top: 3%;
    right: 5%;
    background-image: url(../images/home2.jpg);
}

.home2 p:nth-of-type(1) {
    top: 5%;
    left: 5%;
}

.home2 p:nth-of-type(2) {
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blanchedalmond;
}

.home2 p:nth-of-type(3) {
    bottom: 5%;
    right: 5%;
}

.home3 {
    height: 90vh;
    width: 100vw;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

.home3Right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100%;
    color: rgb(214, 213, 213);
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    z-index: 3;
}

.home3Right h2 {
    margin: 5vh auto 15vh;
    text-transform: uppercase;
}

.home3Right .navlinkhome3 {
    background-color: var(--titleColor);
    padding: 10px 40px;
    border: 2px solid rgb(162, 162, 165);
    border-radius: 10px;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5s;
    font-weight: bold;
    font-family: 'Merienda', cursive;
}

.home3Right .navlinkhome3:hover {
    box-shadow: 0 0 10px 2px white;
}

.home3Right p {
    margin-top: 15vh;
}


.home3 span {
    position: absolute;
    top: 60%;
    left: -20%;
    height: 100%;
    width: 140%;
    transform: translateY(-50%);
}


.home4 {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: var(--titleColor);
    color: white;
}

.home4 h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.9rem;
    text-transform: uppercase;
    width: 100%;
    text-shadow: 0px 1px 0px #222;
}

.home4 ul {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: flex-end;
}

.home4 ul li {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--titleFont);
    color: white;
    text-transform: uppercase;
}

.home4 ul li img {
    font-size: 30px;
    width: 12vw;
    margin-bottom: 3vh;
    filter: sepia(.0) saturate(.6);
    transition: 0.4s;
}

.home4 ul li img:hover {
    transform: scale(1.1);
}

.home4 .navlinkhome4 {
    text-decoration: none;
    color: var(--titleColor);
    animation: navlinkhome4Show 3s ease infinite;
    font-family: var(--titleFont);
    font-weight: bold;
}

@keyframes navlinkhome4Show {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.home4 p {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    width: 100%;
    font-weight: 400;
}

.fa-smile-wink {
    margin-left: 20px;
}


.yarnBallMobile {
    display: none;
}

@media (orientation: portrait) and (min-width: 320px) {

    .begin {
        top: 10vh;
        left: 50%;
        transform: translate(-50%);
        width: 100vw;
        height: auto;
        margin: 0 auto;
    }

    .beginLine {
        display: none;
    }

    .begin h1 {
        font-size: 6vh;
        margin: 0 auto 10vh;
        border-bottom: 3px whitesmoke solid;
        width: 80vw;
        padding-bottom: 10vh;
        letter-spacing: 1px;
    }

    .begin p {
        width: 95vw;
        padding-top: 3vh;
        font-size: 1.3rem;
        color: #eee;
        text-align: center;
        font-weight: 600;
        text-shadow: 1px 1px 1px #222;
    }

    .yarnBallMobile {
        display: block;
        position: absolute;
        top: 23vh;
        left: 10vw;
        height: 5vh;
        width: 5vh;
        animation: ballMove1 4s linear infinite alternate;
    }

    .yarnBall {
        display: none;
    }

    @keyframes ballMove1 {
        0% {

            transform: rotate(0deg);
        }

        100% {
            left: 80vw;
            transform: rotate(1080deg);
        }

    }

    .home2 {
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    .home2 section {
        height: 90vh;
        width: 95vw;
        position: absolute;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0vh auto;
        margin: 0 auto;
    }

    .home2 p {
        height: auto;
        width: 95%;
        position: static;
        font-size: 1.2rem;
        margin: 0px auto;

    }

    .home2 p:nth-of-type(2) {
        position: static;
        top: 50%;
        left: 50%;
        transform: translate(0, 0);
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 20px 0;
    }

    .home2 span {
        display: none;
    }

    .home3 {
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .home3Right {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 10px;
        z-index: 3;
        color: #222;
        text-shadow: 0 0 3px white;
    }

    .home3Right h2 {
        margin: 10vh auto 10vh;

    }

    .home3Right .navlinkhome3 {
        padding: 10px 40px;
        border-radius: 10px;
        font-size: 22px;
        letter-spacing: 2px;
        color: white;
    }


    .home3Right p {
        margin: 15vh auto 0;
        font-size: 1.5rem;
        width: 80%;
        font-weight: bold;

    }


    .home3 span {
        position: absolute;
        top: 60%;
        left: 0%;
        height: 100%;
        width: 200%;
        transform: translateY(-50%);
    }


    .home4 {
        height: 130vh;
        width: 100vw;
        position: relative;
    }

    .home4 h2 {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.3rem;
        text-transform: uppercase;
        width: 95%;
        letter-spacing: 0;
    }

    .home4 ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
    }

    .home4 ul li {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        width: 35%;
        height: auto;
        margin: 0px;
        font-weight: bold;
    }

    .home4 ul li:nth-of-type(1) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .home4 ul li img {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .home4 .navlinkhome4 {
        text-decoration: none;
        text-shadow: 0px 0 2px white;
        animation: navlinkhome4Show 1s linear infinite;
        text-align: center;
        margin-left: 5px;
        font-family: 'Kalam', cursive;
        font-weight: 600;
    }


    .home4 p {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.3rem;
        width: 100%;
        font-weight: 600;
    }

    .fa-smile-wink {
        margin-left: 20px;
    }


    .catYarn {
        display: none;
    }
}

@media (orientation: landscape) and (max-width: 1023px) {

    .begin {
        position: absolute;
        top: 12vh;
        left: 10vw;
        width: 100vw;
        height: auto;
        margin: 0 auto;
    }

    .beginLine {
        display: none;
    }

    .begin h1 {
        width: 50vw;
        padding-bottom: 5vh;
    }

    .begin p {
        width: 60vw;
        font-size: 16px;
    }

    .yarnBall {
        display: none;
    }


    .home2 section {
        height: 100vh;
        width: 100vw;
        font-size: 20px;
    }

    .home2 p {
        height: 30%;
        width: 30%;
        font-size: 14px;
    }

    .home3 {
        height: 100vh;
        width: 100vw;
    }

    .home3Right {
        width: 40%;
        height: 100%;
        font-size: 16px;
        padding: 20px;
    }

    .home3Right h2 {
        margin: 5vh auto 10vh;
    }

    .home3Right .navlinkhome3 {
        padding: 5px 20px;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    .home3Right p {
        margin-top: 10vh;
    }

    .home3 span {
        position: absolute;
        top: 60%;
        left: -80%;
        height: auto;
        width: 260%;
        transform: translateY(-50%) scale(.5);
    }

    .home4 h2 {
        top: 5%;
        font-size: 18px;
    }

    .home4 ul {
        width: 90vw;
    }

    .home4 ul li {
        font-size: 14px;
    }

    .home4 ul li img {
        width: auto;
        height: 20vh;
        margin-bottom: 0;
    }


    .home4 p {
        font-size: 16px;
        font-weight: 500;
    }

    .fa-smile-wink {
        margin-left: 10px;
    }


    .catYarn {
        height: 60px;
        width: 60px;
    }
}