.ring button {
    z-index: 5;
    position: fixed;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    width: 23vh;
    height: 23vh;
    border-radius: 30%;
    transform-origin: left -100px;
    animation: animate 10s linear infinite, startCircle 2s linear 1 forwards;
    color: white;
    background-color: rgba(34, 45, 66, 0.493);
    border: 2px solid white;
    box-shadow: 0 0 5px 1px white;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.ring button:hover {
    box-shadow: 0 0 10px 8px white;
}

.activeOrder button {
    animation: animate 10s linear infinite, startCircle 2s linear 1 forwards, changePosition 1s linear 1 forwards;
}

@keyframes changePosition {
    0% {
        top: 65%;
        left: 50%;
        width: 23vh;
        height: 23vh;
        transform-origin: left -100px;
    }

    100% {
        top: 58%;
        left: 15%;
        width: 16vh;
        height: 16vh;
        transform-origin: left -60px;
    }
}



@keyframes startCircle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.chooseCategory {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: var(--titleFont);
}

.chooseCategory2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    animation: chooseCategoryMove 1s linear 1 forwards;
}

@keyframes chooseCategoryMove {
    0% {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-family: var(--titleFont);

    }

    100% {
        position: fixed;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        color: white;
        text-transform: uppercase;
        font-family: var(--titleFont);

    }
}


.ring .pluszaki {
    animation-delay: -2s, 0s, 0s;
    background-image: url(../images/Products/bezTła/piesek3-removebg-preview.png);
}

.ring .pufy {
    animation-delay: -4s, 0s, 0s;
    background-image: url(../images/Products/bezTła/pufa6-removebg-preview.png);
}

.ring .koce {
    animation-delay: -6s, 0s, 0s;
    background-image: url(../images/Products/bezTła/kocyk1-removebg-preview.png);
}


.ring .poduszki {
    animation-delay: -8s, 0s, 0s;
    background-image: url(../images/Products/poduszka.png);
}

.ring .kosze {
    animation-delay: -10s, 0s, 0s;
    background-image: url(../images/Products/kosz.png);
}

.ring button p {
    background-color: rgba(0, 0, 0, 0.74);
    font-size: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 5px 0;
    font-family: 'Kalam', cursive;
}

.activeOrder button p {
    font-size: 20px;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.titleProducts {
    position: absolute;
    top: 30vh;
    left: 52%;
    color: #222;
    font-size: 2rem;
    z-index: 3;
    animation: startCircle 1s linear 1 forwards;
}

.orderList {
    position: relative;
    top: 0vh;
    left: 30vw;
    width: 70vw;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 40vh;
    background-color: rgba(255, 255, 255, 0.226);
}

.orderList span {
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    font-size: 1.4rem;
    padding: 3vh 5vw;
}

.orderList ul {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40vh;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
}

.orderList li {
    width: 300px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.431);
    color: white;
    margin: 50px;
    text-decoration: none;
    list-style: none;
    box-shadow: 0 0 10px 5px white;
    position: relative;
    transition: .5s;
    border-radius: 10px;
    border: 3px solid var(--productBG);
}


.orderList li:hover {
    transform: scale(1.1);
}

.link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.orderList li p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 5px;
    font-size: 1.5rem;
    background-color: rgba(8, 47, 39, 0.719);
    background-color: var(--productBG);
    border-radius: 0 0 10px 10px;
}


.orderList li img {
    height: 80%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.easyOrder {
    color: white;
    position: relative;
    height: 100vh;
    width: 100vw;
    font-size: 1.2rem;
    font-family: var(--titleFont);
    font-weight: 400;
}

.easyOrder .easyOrderha {
    position: absolute;
    top: 85vh;
    left: 2vw;
    transform: rotate(0deg);
}

.easyOrderhb {
    position: absolute;
    top: 85vh;
    right: 3vw;
    transform: rotate(0deg);
}

@media (orientation:portrait) and (min-width: 320px) {

    .ring button {
        z-index: 0;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 17vh;
        height: 17vh;
        transform-origin: left -40px;
    }

    .activeOrder button {
        display: none;
    }

    .chooseCategory {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 26px;
        padding: 0px;
    }

    .chooseCategory2 {
        display: none;
    }

    .ring button p {
        font-size: 18px;
    }

    .activeOrder button p {
        font-size: 18px;

    }


    .titleProducts {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        width: 95vw;
        color: #222;
        font-size: 22px;
        z-index: 3;
        margin: 10vh auto;
    }

    .orderList {
        position: relative;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        padding-bottom: 50vh;
        background-color: rgba(255, 255, 255, 0.55);
    }

    .orderList span {
        position: absolute;
        top: 12vh;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.637);
        color: white;
        font-size: 18px;
        padding: 3vh 5vw;
    }

    .orderList ul {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 55vh;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        min-height: 100vh;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 20vh;
    }

    .orderList li {
        width: 70vw;
        height: 50vh;
        margin: 50px auto;
    }


    .orderList li:hover {
        transform: none;
    }


    .orderList li p {
        height: 20%;
        font-size: 24px;
        line-height: 150%;
    }


    .easyOrder {
        font-size: 12px;
    }

    .easyOrder .easyOrderha {
        width: 100vw;
        top: 80vh;
        left: 50%;
        transform: translateX(-50%);
    }

    .easyOrderhb {
        width: 100vw;
        top: 88vh;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (orientation:landscape) and (max-width: 1023px) {

    .ring button {
        z-index: 0;
        position: absolute;
        top: 65%;
        left: 65%;
        transform: translate(-50%, -50%);
        width: 23vh;
        height: 23vh;
        transform-origin: left -40px;
    }

    .activeOrder button {
        display: none;
    }

    .chooseCategory {
        position: absolute;
        top: 40%;
        left: 20%;
        transform: translateX(-50%);
        font-size: 30px;
        padding: 0px;
    }

    .chooseCategory2 {
        display: none;
    }

    .ring button p {
        font-size: 14px;
    }

    .activeOrder button p {
        font-size: 14px;

    }


    .titleProducts {
        position: absolute;
        top: 45vh;
        left: 50%;
        transform: translateX(-50%);
        width: 95vw;
        color: #222;
        font-size: 20px;
        z-index: 3;
        margin: 5vh auto;
    }

    .orderList {
        position: relative;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        min-height: 700vh;
        background-color: rgba(255, 255, 255, 0.55);
    }

    .orderList span {
        position: absolute;
        top: 22vh;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.637);
        color: white;
        font-size: 16px;
        padding: 3vh 5vw;
    }

    .orderList ul {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 60vh;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        min-height: 100vh;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 20vh;
    }

    .orderList li {
        width: 30vw;
        height: 70vh;
        margin: 50px;

    }


    .orderList li:hover {
        transform: none;
    }


    .orderList li p {
        height: 20%;
        font-size: 20px;

    }


    .easyOrder {
        display: none;
    }

}